@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  background-image: url(https://images.pexels.com/photos/131634/pexels-photo-131634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
  background-size: cover;
}

.container {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#course input[type="text"],
#course input[type="text"],
#course input[type="email"],
#course input[type="date"],
#course input[type="radio"],
#course input[type="select"],
#course input[type="checkbox"],

#course button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#course {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  border-radius:35px;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0,255,0,0.3);
}

#course h1 {
  display: block;
  font-size: 30px;
  font-family: bold;
  font-weight: 300;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0,255,0,0.3);
}


fieldset {
  border: medium none ;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;

}

#course input[type="text"],
#course input[type="email"],
#course input[type="text"],
#course textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: rgba(0,255,0,0.3);;
  margin: 0 0 5px;
  padding: 10px;
}

#course input[type="text"]:hover,
#course input[type="email"]:hover,
#course input[type="text"]:hover,
#course textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
    padding: 10px;
  box-shadow: 1px 1.9px #888888;
}

#course textarea {
  height: 100px;
  max-width: 100%;
  
}

#course button[type="submit"] {
  cursor: pointer;
  width: 100%;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#course button[type="submit"]:hover {
   background: #0ca678;
   transform: scale(1.1);
   border-radius: 25px;
  transition: background-color 0.3s ease-in-out;

}

@media screen and (min-width: 500px) {
  body {
    background-image: url(https://images.pexels.com/photos/131634/pexels-photo-131634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat; 
  background-size: cover;
  }
}